*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

[data-scroll] {
  will-change: transform;
}

:root {
  --body: #F4F4F4;
  --txt: #9b9b9b;
  --hdr-clr: #5C7D84;
  --scnd-blue: #EEF2F2;
  --wht: #fff;
  --yllw: #E4C249;
  --lhtblk: rgba(0,0,0,.17);
}

@font-face {
  font-family: 'Futura';
  src: url(futur.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(NunitoSans-Regular.ttf);
}

img {
  max-height: 100%;
}

h1,
h2,
h3 {
  color: var(--hdr-clr);
  font-family: 'Futura';
}

p,
a {
  color: var(--txt);
  font-family: 'Nunito';
}

.container {
  max-width: 1250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

body {
  background: var(--body);
}

.content {
  position: relative;
  counter-reset: figure;
}

.card {
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  height: auto;
  position: relative;
}

.card .overflow {
  --aspect-ratio: 1/1.5;
  overflow: hidden;
  width: 100%;
  /* margin: 0 auto; */
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  max-width: calc(100% - 2rem);
  will-change: transform;
}

.card .memories-image .img--t7 {
  --aspect-ratio: 10/30;
}

.card .inquire-left-content {
  --aspect-ratio: 10/15;
}

.card .hero-left-content {
  --aspect-ratio: 500/10;
}

.card .about-left-content {
  --aspect-ratio: 10/10;
}

.card:nth-child(5) .overflow {
  --aspect-ratio: 6/8;
}

.card .latest-left-content {
  --aspect-ratio: 110/15;
}

.card .latest-left-second {
  --aspect-ratio: 500/730;
}

.image {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc( -1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.img--t1 {
  --overflow: 60px;
}

.img--t2 {
  --overflow: 80px;
}

.img--t3 {
  --overflow: 100px;
}

.img--t4 {
  --overflow: 70px;
}

.img--t5 {
  --overflow: 90px;
}

.img--t6 {
  --overflow: 90px;
}

.img--t7 {
  --overflow: 100px;
}

.title h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  width: 25%;
  margin-bottom: 2em;
}

header {
  height: 70px;
  width: 100%;
  padding: 12px 0;
  position: fixed;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  z-index: 999999;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  height: auto;
  width: 100px;
}

header nav .nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

header nav .nav-2 .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

header nav .nav-2 .nav-list li {
  list-style: none;
}

header nav .nav-2 .nav-list li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

header nav .nav-2 .nav-list li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--yllw);
  height: 2px;
  width: 0%;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

header nav .nav-2 .nav-list li a:hover::before {
  width: 100%;
}

header nav .nav-2 .nav-list li a .fa {
  font-size: 15px;
}

header nav .nav-2 #check {
  display: none;
}

header nav .nav-2 #check-input {
  display: none;
}

header nav .nav-2 #input {
  width: 0px;
  display: none;
  background: var(--wht);
  border-radius: 5px;
  z-index: 99;
  -webkit-animation: width .5s linear;
          animation: width .5s linear;
}

header nav .nav-2 #input .input-search {
  outline: none;
  border: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  color: var(--hdr-clr);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@-webkit-keyframes width {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

@keyframes width {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

header nav .nav-2 .lbl-input {
  cursor: pointer;
}

header nav .nav-2 .lbl-input #search {
  z-index: 9999;
  padding: 10px;
  border-radius: 5px;
}

header nav .nav-2 .lbl-input #search .fa {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: var(--txt);
}

header nav .nav-2 #check-input:checked ~ #input {
  display: block;
  width: 100%;
}

header nav .nav-2 #check-input:checked ~ #input .input-search {
  padding: 9px 10px;
}

header.sticky {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.11);
}

header.sticky .nav-2 .nav-list li a {
  color: var(--hdr-clr);
}

header.sticky .nav-2 #input .input-search {
  -webkit-box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.17);
          box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.17);
  color: var(--hdr-clr);
}

header.sticky .nav-2 .lbl-input #search .fa {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: var(--hdr-clr);
}

.hero-wrapper {
  height: auto;
  margin-top: 1em;
  padding: 7em 0;
  overflow: hidden;
  margin-bottom: 5em;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hero-wrapper .hero-left-content {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  overflow: visible;
}

.hero-wrapper .hero-left-content img {
  height: 500px;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
  position: absolute;
  top: 10%;
  left: 10%;
}

.hero-wrapper .hero-left-content img:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.hero-wrapper .hero-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-wrapper .hero-center-content h1 {
  font-size: 2.9em;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: lighter;
  position: relative;
  margin-bottom: 5px;
}

.hero-wrapper .hero-center-content h1::before {
  content: '';
  position: absolute;
  top: 57%;
  left: 0;
  width: 64%;
  height: 7px;
  border-radius: 5px;
  background: var(--yllw);
  z-index: -1;
}

.hero-wrapper .hero-center-content p {
  color: var(--yllw);
}

.hero-wrapper .hero-center-content .center-bottom a {
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  color: var(--hdr-clr);
  border: 1px solid var(--hdr-clr);
  padding: 20px 40px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.hero-wrapper .hero-center-content .center-bottom a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--yllw);
  height: 2px;
  width: 0%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero-wrapper .hero-center-content .center-bottom a:hover::before {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  width: 100%;
}

.hero-wrapper .hero-center-content .center-bottom a:hover {
  -webkit-animation: border .5s ease-in-out;
          animation: border .5s ease-in-out;
  border-radius: 0;
}

@-webkit-keyframes border {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes border {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

.hero-wrapper .hero-right-content {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 8em;
  position: relative;
}

.hero-wrapper .hero-right-content img {
  height: 350px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

.hero-wrapper .hero-right-content img:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: auto;
  margin-bottom: 5em;
  padding: 5em 0;
}

.about-wrapper .about-left-content {
  position: relative;
}

.about-wrapper .about-left-content .rotan-img {
  height: 700px;
}

.about-wrapper .about-left-content .pro {
  position: absolute;
  top: 25%;
  right: 15%;
  width: 150px;
  height: 150px;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
  mix-blend-mode: multiply;
}

@-webkit-keyframes pro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pro {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.about-wrapper .about-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-wrapper .about-right-content h2 {
  text-align: right;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
}

.about-wrapper .about-right-content p {
  width: 75%;
  line-height: 1.8em;
  font-size: 15px;
}

.latest-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: auto;
  padding: 5em 0;
  position: relative;
}

.latest-wrapper .latest-left-content {
  height: 50vh;
}

.latest-wrapper .latest-left-content p {
  margin-top: 1em;
  font-size: 12px;
}

.latest-wrapper .latest-left-content img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-wrapper .latest-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -5em;
}

.latest-wrapper .latest-right-content img {
  height: 300px;
}

.latest-wrapper .latest-right-content h3 {
  margin: 4em 0;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}

.latest-wrapper .latest-right-content p {
  margin-top: 1em;
  font-size: 12px;
  width: 33%;
  text-align: right;
}

.latest-wrapper-second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5em 0;
}

.latest-wrapper-second .latest-left-second img {
  height: 700px;
}

.latest-wrapper-second .latest-left-second p {
  margin-top: 1em;
  font-size: 12px;
  width: 33%;
}

.latest-wrapper-second .latest-left-second .cta {
  position: relative;
  height: 50%;
}

.latest-wrapper-second .latest-left-second .cta a {
  text-decoration: none;
}

.latest-wrapper-second .latest-left-second .cta a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
}

.latest-wrapper-second .latest-left-second .arrow {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0%;
  left: 10%;
  z-index: 999;
}

.latest-wrapper-second .latest-right-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10em;
}

.latest-wrapper-second .latest-right-second p {
  width: 66%;
  line-height: 1.8em;
  font-size: 15px;
}

#gallery {
  height: auto;
  padding: 5em 0;
  background: var(--scnd-blue);
}

#gallery h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: right;
  font-weight: 300;
  width: 20%;
}

#gallery .gallery-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: (220px)[8];
      grid-template-rows: repeat(8, 220px);
  grid-auto-flow: dense;
  grid-auto-rows: 150px;
  gap: 10px;
  padding-top: 5em;
  height: auto;
}

#gallery .gallery-wrapper .box {
  width: 100%;
  height: 100%;
}

#gallery .gallery-wrapper .box img {
  height: 300px;
}

#gallery .gallery-wrapper .box:nth-child(1) {
  background: url("kendra-allen-k8FSoWAOzb4-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(2) {
  background: url("maria-lysenko-AVUNx9qDWcY-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#gallery .gallery-wrapper .box:nth-child(3) {
  background: url("gaelle-lewyllie-poTXDfQdIKg-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(4) {
  background: url("norbert-kundrak-U88ZdpEgsAg-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 3;
}

#gallery .gallery-wrapper .box:nth-child(5) {
  background: url("jonatas-domingos-uV9jdPh_DMA-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(6) {
  background: url("matheus-ferrero-W7b3eDUb_2I-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(7) {
  background: url("travis-clem-KlfuN5xFgJY-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(8) {
  background: url("h-f-e-co-KO8nYHjG8nw-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#gallery .gallery-wrapper .box:nth-child(9) {
  background: url("jeremy-wong-weddings-464ps_nOflw-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(10) {
  background: url("eleanor-Ji1W9fDXzio-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 3;
}

#gallery .gallery-wrapper .box:nth-child(11) {
  background: url("riccardo-fissore-jG3YvXELR7c-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .gallery-wrapper .box:nth-child(12) {
  background: url("gaelle-lewyllie-gpcAL6osgMc-unsplash.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-row: span 2;
}

#gallery .cta-gallery {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

#gallery .cta-gallery a {
  text-decoration: none;
}

#gallery .cta-gallery a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  right: 5%;
  -webkit-animation: pro 25s linear infinite;
          animation: pro 25s linear infinite;
}

#special {
  height: 100vh;
  background: url("amir-seilsepour-5vg_SarQimA-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#special .special-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#special .special-wrapper h1 {
  color: var(--wht);
  font-size: 2.9em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

#special .special-wrapper p {
  text-transform: uppercase;
  color: var(--wht);
  text-align: center;
}

.title-inquire h2 {
  width: 30%;
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 2em;
}

.inquire-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  height: auto;
  padding: 5em 0;
}

.inquire-wrapper .inquire-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inquire-wrapper .inquire-left-content img {
  width: 70%;
}

.inquire-wrapper .inquire-right-content p {
  width: 75%;
  margin-bottom: 1em;
  font-size: 15px;
  line-height: 1.8em;
}

.inquire-wrapper .inquire-right-content span {
  font-weight: bold;
}

.inquire-wrapper .inquire-right-content .date,
.inquire-wrapper .inquire-right-content .venue,
.inquire-wrapper .inquire-right-content .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inquire-wrapper-second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5em 0;
  height: auto;
  position: relative;
}

.inquire-wrapper-second .inquire-left-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

.inquire-wrapper-second .inquire-left-second p {
  width: 75%;
  line-height: 1.8em;
  font-size: 15px;
}

.inquire-wrapper-second .inquire-right-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inquire-wrapper-second .inquire-right-second h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  width: 70%;
}

.inquire-wrapper-second .inquire-right-second .cta-inquire {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inquire-wrapper-second .inquire-right-second .cta-inquire a {
  text-decoration: none;
}

.inquire-wrapper-second .inquire-right-second .cta-inquire a img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#our-team {
  height: auto;
  padding: 5em 0;
  background: var(--scnd-blue);
}

#our-team .our-team-wrapper h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.5em;
}

#our-team .our-team-wrapper .first-team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 10px;
}

#our-team .our-team-wrapper .first-team .card {
  background: var(--wht);
  height: auto;
  width: 300px;
  padding: 10px;
}

#our-team .our-team-wrapper .first-team .card h6 {
  font-size: 12px;
  color: var(--txt);
  font-family: 'Nunito';
  font-weight: 300;
}

#our-team .our-team-wrapper .first-team .card p {
  color: var(--hdr-clr);
  padding: 10px 0;
}

#our-team .our-team-wrapper .first-team .card .profile {
  height: 300px;
}

#our-team .our-team-wrapper .first-team .card .hernandez {
  background: url("cobro-JDJIDtZNJsM-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .sergio {
  background: url("craig-mckay-jmURdhtm7Ng-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .lim {
  background: url("imansyah-muhamad-putera-n4KewLKFOZw-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .garry {
  background: url("sergio-de-paula-c_GmwfHBDzk-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .celine {
  background: url("michael-dam-mEZ3PoFGs_k-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .patrisha {
  background: url("christopher-campbell-rDEOVtE7vOs-unsplash.jpg ") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .dwight {
  background: url("radu-florin-JyVcAIUAcPM-unsplash.jpg") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .first-team .card .joseph {
  background: url("toa-heftiba-C1HhlX7vErc-unsplash.jpg") no-repeat center;
  background-size: cover;
}

.memories-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: auto;
  padding: 5em 0;
}

.memories-wrapper .memories-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.memories-wrapper .memories-image img {
  height: 650px;
}

.memories-wrapper .memories-image h6 {
  font-size: 12px;
  color: var(--txt);
  font-family: 'Nunito';
  font-weight: 300;
}

.memories-wrapper .memories-image p {
  color: var(--hdr-clr);
  font-size: 12px;
}

.memories-wrapper .memories-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.memories-wrapper .memories-info h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  width: 70%;
  margin-bottom: 5em;
}

.memories-wrapper .memories-info p {
  width: 75%;
  font-size: 15px;
  line-height: 1.8em;
}

#footer {
  height: auto;
  padding: 5em 0 0 0;
  background: var(--scnd-blue);
}

#footer .footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#footer .footer-wrapper .footer-list {
  padding-bottom: 5em;
}

#footer .footer-wrapper .footer-list ul li {
  list-style: none;
  margin: 10px 0;
}

#footer .footer-wrapper .footer-list ul li a {
  text-decoration: none;
  font-size: 14px;
}

#footer .footer-wrapper .footer-list h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}

#footer .footer-wrapper .footer-list .email {
  position: relative;
}

#footer .footer-wrapper .footer-list .email .input {
  border: none;
  height: 40px;
  width: 100%;
  margin-top: 3em;
  position: relative;
  padding: 5px;
}

#footer .footer-wrapper .footer-list .email span {
  position: absolute;
  top: 40%;
  left: 1%;
  font-size: 15px;
  color: var(--txt);
  font-family: 'Nunito';
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  pointer-events: none;
}

#footer .footer-wrapper .footer-list .email .input:focus ~ span {
  top: 15%;
  color: var(--hdr-clr);
}

#footer .footer-wrapper .footer-list .cta-email {
  margin-top: 10px;
}

#footer .footer-wrapper .footer-list .cta-email a {
  background: var(--hdr-clr);
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
  color: var(--wht);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .copy {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer .copy P {
  font-size: 12px;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */